$a_active_color : #ffa000;//a标签 active 颜色
$a_hover : #ffa000;//a标签hover
$font_default_color : #666;//默认字体颜色
$font_default_size : 14px;//默认字体大小
$font_family_default : 'Microsoft Yahei",Arial,sans-serif,Arial,STHeiti';
$nav_color:#666;
$nav_font_size:16px;


