$a_active_color : #ffa000;//a标签 active 颜色
$a_hover : #ffa000;//a标签hover
$font_default_color : #666;//默认字体颜色
$font_default_size : 14px;//默认字体大小
$font_family_default : 'Microsoft Yahei",Arial,sans-serif,Arial,STHeiti';
$nav_color:#666;
$nav_font_size:16px;


// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

*,body{
  padding: 0;
  margin: 0;
  font-family: $font_family_default;
  font-size: $font_default_size;
  color: $font_default_color;
}
a,a:visited,a:active,a:link,a:hover{
  color: $font_default_color;
  text-decoration: none;
}
a.active{
  color: $a_active_color;
}
a:hover{
  color:$a_hover;
}
font{
  font-size: $font_default_size;
  color: $font_default_color;
}
ul{
  margin-bottom: 0;
}
li{
  list-style: none;
}
img{
  border: none;
}
html{
  overflow-x:hidden;
}
input{
  border: 0;
}
input:focus { outline: none; }
//nav
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
  background-color: rgb(231, 231, 231);
  color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
  display: block;
}
#nav{
  background: #fff;
  border: solid 1px #ddd;
  .navbar{
    padding: 0;
    .navbar-collapse{
      .nav-item.active{
        a{
          color: $a_active_color;
        }
      }
      .nav-item{
        a{
          color: $nav_color;
          font-size: $nav_font_size;
          line-height: 70px;
          padding: 0 20px;
          &:hover{
            color:$a_hover;
          }
        }
      }
    }
  }
  h1.h1-logo{
    padding: 21px 0 21px 0;
    margin: 0;
    font-size: 0;
    a.logo{
      position: relative;
      z-index: 2;
      width: 178px;
      height: 28px;
      padding: 0;
    }
  }
  //user
  .nav-user-right{
    a{
      padding: 0 15px;
      float: left;
      height: 16px;
      line-height: 16px;
      opacity: 1;
      border-right: solid 1px #666;
    }
    a:nth-child(2){
      border-right: none;
    }
  }
}

//nav end

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  #nav{
    .navbar{
      .navbar-collapse{
        .nav-item{
          a{
            display: block;
            padding: .25rem 1.5rem;
            font-size: 100%;
            color: rgba(0,0,0,.65);
            line-height: 20px;
          }
        }
      }
    }
    .nav-user-right{
      border-top: 1px solid #666;
      margin: 0;
      a{
        display: block;
        float: none;
        width: 100%;
        padding: .25rem 0 .25rem 1.5rem;
        height: auto;
        line-height: 20px;
      }
      a:nth-child(1){
        border-right: none;
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
