#slides {
  position: relative;
}

#slides a.slidesjs-navigation {
  position: absolute;
  top: 45%;
  z-index: 200;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}

#slides a.slidesjs-navigation i {
  font-size: 55px;
  color: #fff;
}

#slides a.slidesjs-previous {
  left: 100px;
}

#slides a.slidesjs-next {
  right: 100px;
}

@media (max-width: 992px) {
  #slides a.slidesjs-navigation {
    display: none;
    width: 0;
    height: 0;
  }

  #slides a.slidesjs-navigation i {
    font-size: 0;
  }
}

